# Ignoring all the files that I don't need to version
.IntelliJIdea13/
.Skype/
.Xauthority
.actionbarsherlock/
.activator/
.android/
.bash_history
.bash_logout
.cache/
.config/
.dbus/
.dmrc
.gconf/
.gem/
.gksu.lock
.gnome/
.gradle/
.grails/
.grails_history
.gvm/
.idea/
.ivy2/
.java/
.local/
.m2/
.macromedia/
.mozilla/
.mysql_history
.oh-my-zsh/
.pip/
.pki/
.profile
.sbt/
.sdk/
.ssh/
.vifm/
.vim/
.viminfo
.xsession-errors
.xsession-errors.old
.zcompdump-jarvis-5.0.5
.zcompdump-jarvis-5.0.6
.zsh-update
.zsh_history
Documents/
Downloads/
IdeaProjects/
Projects/
Voyhoy/

# Ignoring some files in the mpd directory
.mpd/mpd.db
.mpd/mpd.log
.mpd/mpd.pid
.mpd/mpdstate
.ncmpcpp/error.log
.gitignore
